<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
            <div class="memoInput-box my-5" id="memoDetail" th:data-post-id="${memo.id}"><!-- 어차피 1나이니 여기다 id를 부여하고 해주자 -->
                <h1 class="text-center">메모 상세</h1>
                <input type="text" placeholder="제목을 입력하세요" class="form-control mt-4" id="titleInput" th:value="${memo.title}" value="메모 제목입니다.">
                <textarea placeholder="내용을 입력하세요" class="form-control mt-2" rows="10" id="contentsInput" th:text="${memo.contents}">메모 내용입니다.</textarea>
                <img th:src="${memo.imagePath}">
                <input type="file" class="mt-2">
                <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="" id="deleteBtn">삭제</button>
                    <div>
	                    <a href="/post/list-view" class="btn btn-secondary">목록으로</a>
	                    <button type="button" class="btn btn-secondary" id="saveBtn">수정하기</button>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <script layout:fragment="script">
        
        $(document).ready(function(){
        	
        	$("#deleteBtn").on("click",function(){
        		
        		let id = $("#memoDetail").data("post-id");
        		
        		$.ajax({
                    type:"delete"
                    , url:"/post/delete"
                    , data:{"id":id}
                    , success:function(data){
                        if(data.result == "success"){
                            location.href = "/post/list-view";
                        }else{
                            alert("삭제 실패!!")
                        }
                    }
                    , error:function(){
                        alert("삭제 에러!!");
                    }
                });
        		
        	});
        	
        	
        	
        	
        	$("#saveBtn").on("click",function(){
        		let title = $("#titleInput").val();
        		let contents = $("#contentsInput").val();
        		
        		let id = $("#memoDetail").data("post-id");
        		
        		$.ajax({
        			type:"put"
        			, url:"/post/update"
        			, data:{"id":id, "title":title, "contents":contents}
        		    , success:function(data){
        		    	if(data.result == "success"){
        		    		location.reload();
        		    	}else{
        		    		alert("수정 실패!!")
        		    	}
        		    }
        		    , error:function(){
        		    	alert("수정 에러!!");
        		    }
        		});
        		
        	});
        	
        });
        
        
        </script>
</html>
